<header class="header">
 <h1>London PLAYHOUSE:</h1>
 <h3>Your one stop shop for the magic of The West End!</h3>
 <ul>
   <li class='hvr-glow'><a href="/">Home</a></li>
   <li class='hvr-glow'><a href="/user">Log In</a></li>
  <!--  <li class='hvr-glow'><a href="/shows">Search Shows</a></li> -->
   <li class='hvr-glow'><a href="/webinfo">Contact</a></li>
   {{#logged_in}}
   <li class='hvr-glow'><a href="/user/{{id}}">My Profile</a></li>{{/logged_in}}
 </ul>

<form id="searchForm" action="/broadway" method="post">
  <input id="headerSearch" type="text" name="userSearch" placeholder="">
  <input type="submit" name="submit" id="">
</form>

</div>
</header>
