<!DOCTYPE html>
<html>
<head>

  <title>NYC Playhouse</title>
  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Palanquin:100|Permanent+Marker" rel="stylesheet">
</head>
<body class="regBackground">

<header class="header">
 <h1>NYC PLAYHOUSE:</h1>
 <h3>Your one stop shop for the magic of Broadway!</h3>
 <ul>
   <li><a href="index.html">Home</a></li>
   <li><a href="login.html">Log In</a></li>
   <li><a href="myprofile.html">My Profile</a></li>
   <li><a href="listofshows.html">List of Shows</a></li>
   <li><a href="contact.html">Contact</a></li>
 </ul>
</header>

<footer>
<p>&copy; 2016</p>
</footer>

</body>
</html>
