<!DOCTYPE html>
<html>
<head>

  <title>London Playhouse</title>

  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Palanquin:100|Permanent+Marker" rel="stylesheet">
  <script src="/scripts/jquery.js" ></script>
  <script src="/scripts/main.js" ></script>
</head>
<body class="blurBackground">

{{>header}}


<form class="form" action="/signup" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Create Account</legend>
    Name : <br>
    <input type="text" name="name" value=""> <br>
    Email : <br>
    <input type="text" name="email" value=""> <br>
    Password : <br>
    <input type="password" name="password" value=""> <br>
    <input type="submit" name="submit">
  </fieldset>
</form>

{{>footer}}

</body>
</html>
