<!DOCTYPE html>
<html>
<head>

  <title>London Playhouse</title>

  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Palanquin:100|Permanent+Marker" rel="stylesheet">
  <script src="/scripts/jquery.js" ></script>
  <script src="/scripts/main.js" ></script>
</head>
<body class="regBackground">

{{>header}}


{{#searchResult}}
<div class="show">
  <div>{{Name}}</div><br>
  <div><img src="{{MainImageUrl}}" alt=""></div><br>
  <div>{{{TagLine}}}</div><br>
  <div>{{{Description}}}</div><br>

  <form action="/formInput" method="post">
      <input type="hidden" name="showName" value="{{Name}}">
      <input type="submit" name="submit" value="Save">
  </form>

</div>
{{/searchResult}}



{{>footer}}

</body>
</html>
