<!DOCTYPE html>
<html>
<head>

  <title>London Playhouse</title>

  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Palanquin:100|Permanent+Marker" rel="stylesheet">
  <script src="/scripts/jquery.js" ></script>
  <script src="/scripts/main.js" ></script>
</head>
<body class="regBackground">

{{>header}}


<form id="searchform" action="/broadway" method="post">
  <input type="text" name="search" placeholder="Search..">
  <input type="submit" name="submit">
</form>

<!-- <div class="placeholder">
  <h5>The Color Purple</h5>
  <img src="">
</div> -->

{{>footer}}

</body>
</html>
