<!DOCTYPE html>
<html>
<head>

  <title>NYC Playhouse</title>
  <link rel="stylesheet" type="text/css" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Palanquin:100|Permanent+Marker" rel="stylesheet">

</head>
<body class="blurBackground">

{{>header}}

<form action="/login" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>LOG IN</legend>
    Email : <br>
    <input type="text" name="email" value=""> <br>
    Password : <br>
    <input type="password" name="password" value=""> <br>
    <input type="submit" name="submit">
  </fieldset>
</form>


<footer>
<p>&copy; 2016</p>
</footer>

</body>
</html>
