<!DOCTYPE html>
<html>
<head>
  <title>London Playhouse</title>

  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Palanquin:100|Permanent+Marker" rel="stylesheet">
  <script src="/scripts/jquery.js" ></script>
  <script src="/scripts/main.js" ></script>
</head>

<body class="regBackground">
{{>header}}
{{#data}}
  <div id="savedShows">
  <div><a href="#">{{show}}</a></div>
  <form action="/deletePost?__method=DELETE" method="POST" > <!-- method override -->
    <button  type="submit">DELETE</button>
    <input type="hidden" name="postDelete" value="{{id}}"> <!-- value is id because I am getting it from inside the data in my app.js -->
  </form>
  </div>
{{/data}}

{{>footer}}

</body>
</html>


