body{
  margin: 0 auto;
  padding: 0;
}

/* Thanks Jacob Gube for making my background responsive */
.regBackground{
  background-color: #22180F;
  background-image: url("../images/telephone.jpg");
  background-repeat: no-repeat;
  background-position: center -60px;
  background-attachment: fixed;
  background-size: cover;
}

.blurBackground{
  background-color: #22180F;
  background-image: url("../images/telephoneblur.jpg");
  background-repeat: no-repeat;
  background-position: center -60px;
  background-attachment: fixed;
  background-size: cover;
}

header {
  position: fixed;
  background: #22180F;
  width: 100%;
  height: 140px;
  text-align: center;
  top: 0px;
}

footer{
  position: fixed;
  background: #22180F;
  width: 100%;
  height: 25px;
  bottom: 0px;
  text-align: center;
  padding-bottom: 15px;
  font-size: 12px;
}

h1 {
  top: 100px;
  font-family: 'Permanent Marker', cursive;
  color: #F1C40F;
  font-size: 50px;
  margin: 0 auto;
  line-height: 45px;
  padding-top: 28px;
}

h3{
  font-family: 'Palanquin', sans-serif;
  font-size: 21px;
  color: #F1C40F;
  margin: 0 auto;
}

ul{
  margin: 10px 0 0 0;
  padding: 3px 0 5px 0;
  background-color: #F1C40F;
}

li{
  font-family: 'Lato', sans-serif;
  display: inline;
  font-size: 18px;
  padding: 0 20px;
}

a{
  color: #22180F;
  text-decoration: none;
}

p{
  font-family: 'Lato', sans-serif;
  color: #F1C40F;
}

fieldset#caForm, fieldset#liForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 230px;
  width: 300px;
/*   position: static; */
  padding-right: 17px;
}

form{
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  color: #22180F;
}


input.iForm   {
  width: 97%;
  padding: 5px 6px;
  font-size: 12px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
}


input[id=headerSearch]{
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  width: 55px;
  background-color: #F1C40F;
  border: none;
  border-radius: 5px;
}


input[name=userSearch]{
  background-image: url('/images/search.png');
  background-color: #FAF6EC;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 150px;
  padding-left: 30px;
  text-decoration: none;
  border-radius: 5`px;
  border: none;
  font-family: 'Lato', sans-serif;

}

form#searchForm{
  margin-top: -110px;
  margin-left: -921px;
  padding-left: 12px;
  font-size: 22px;
/*   position: static; */
}

input[name=submit]{
  padding: 0px;
  width: 55px;
  border-radius: 5px;
  border: none;
  height: 18px;
  background-color: #FAF6EC;
  color: #22180F;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-align: center;
  margin-left: 4px;

}

.show img {
  width: 250px;
}

.show{
  color: #F1C40F;
  font-family:'Lato', sans-serif ;
  font-size: 20px;
  width: 900px;
  position: static;
  background: rgba(34, 24, 15, .9);
  text-align: center;
  margin: 170px auto 50px auto;
  padding: 40px 20px;
}

.headerLink{
  color: black;
  text-decoration: none;

}

table, td a{
  position: static;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  font-size: 17px;
}

td a{
  vertical-align: top;
  color: #F1C40F;
  font-size: 17px;
}


table{
  border: dotted #F1C40F 1px;
  padding: 20px;
  background-color: rgba(34, 24, 15, .5);
  width: 400px;
  margin:250px auto 0 auto;
  color: #F1C40F;
  text-align: center;
}

/* thanks (http://ianlunn.github.io/Hover/) */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

div#savedShows{
  margin-top: 192px;
  margin-left: 53px;
  color: #F1C40F;
  font-family: 'Palanquin', sans-serif;
  font-size: 21px;
  background-color: rgba(34, 24, 15, .5);
  display: inline-block;
  padding: 17px;
}

#savedShows a{
  color: #F1C40F;
  font-family: 'Palanquin', sans-serif;
  font-size: 21px;
 }


@media only screen and (max-width: 500px) {


  h1{
    font-size: 30px;
    padding-top: 12px;
  }
  h3{
    font-size: 15px;
  }
  header{
    height: 110px;
    line-height: 15px;
  }
  ul{
    margin-top: 11px;
  }
  li{
    font-size: 12px;
    padding: 0 15px;
  }
  table{
    width: 200px;
    height: 230px;
    position: relative;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    line-height: 15px;
/*     display: block;
 */
  }

  input[type=text], input[type=password],  select{
    width: 97%;
    height: 8px;
    font-size: 8px;
  }
  input[name=userSearch]{
    padding-left: 14px;
  }


  fieldset#caForm, fieldset#liForm{
      line-height: 23px;
      font-size: 15px;
  }

  fieldset#caForm{
    height: 181px;
    width: 240px;
  }

  fieldset#liForm{
    height: 145px;
    width: 140px;
  }

  input.iForm{
      width: 90%;
      font-size: 15px;
      margin-top: 0;
    }

  td, input{
    font-size: 12px;
  }

  form#searchForm{
    width: 27px;
    margin-left: 16px;
    margin-top: -32px;
  }

  header{
    height: 100px;
  }
  footer{
    height: 13px;
    background-size: 13px 100%
  }

  .hvr-skew-forward{
    font-size: 12px;
  }

}

